html {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

body {
  padding: 15px;
  max-width: 1440px;
}

hr {
  background-color: hsl(236deg, 13%, 42%);
  border: none;
}

.darker-background-layer {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  transition: opacity 0.4s linear;
}

.darker-background-layer--active {
  left: 0;
  opacity: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}
.header__logo {
  height: 2rem;
}
.header__nav {
  background-color: white;
  display: block;
  height: 100%;
  padding: 1rem;
  position: fixed;
  right: -100%;
  top: 0;
  width: 70%;
  z-index: 2;
  transition: right 0.4s;
  font-size: 1rem;
  font-weight: 200;
}
.header__nav .nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header__nav .nav__list .header__hamburger--open {
  align-self: flex-end;
  margin: 1rem 0.2rem 4rem 0;
}
.header__nav--active {
  right: 0;
}

.hero__image {
  width: 100%;
}
.hero__title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;
  padding: 2rem 0 1rem;
}
.hero__text {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.7;
  font-weight: 600;
}
.hero__button {
  background-color: hsl(5deg, 85%, 63%);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin: 1.5rem 0;
  padding: 1em 2em;
}

.news {
  background-color: hsl(240deg, 100%, 5%);
  color: white;
  margin: 2rem 0;
  padding: 2rem 1rem;
}
.news__section-title {
  color: hsl(35deg, 77%, 62%);
  font-weight: 700;
  font-size: 2rem;
}
.news__item {
  margin: 2rem 0;
}
.news__item--last {
  margin: 2rem 0 0;
}
.news__item .news-item__title {
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 1.2rem;
}
.news__item .news-item__text {
  color: hsl(233deg, 8%, 79%);
  line-height: 1.7rem;
}

.article {
  margin: 3rem 0;
  display: flex;
  gap: 5%;
  height: 130px;
}
.article__image {
  height: 100%;
}
.article__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article__title-number {
  font-size: 1.8rem;
  color: hsl(233deg, 8%, 79%);
  font-weight: 800;
}
.article__title {
  font-weight: 800;
  font-size: 1.1rem;
}
.article__text {
  font-size: 1rem;
  color: hsl(236deg, 13%, 42%);
  font-weight: 400;
  line-height: 1.7rem;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem;
  }
  .header__hamburger--closed {
    display: none;
  }
  .header__nav {
    background-color: white;
    display: block;
    height: 100%;
    padding: 1rem;
    position: static;
    right: -100%;
    top: 0;
    width: 70%;
    z-index: 2;
    transition: right 0.4s;
    font-size: 1rem;
    font-weight: 200;
  }
  .header__nav .nav__list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }
  .header__nav .nav__list .header__hamburger--open {
    display: none;
  }
  .header__nav .nav__list .nav__item:hover {
    color: hsl(5deg, 85%, 63%);
  }
}/*# sourceMappingURL=style.css.map */