html {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 15px;
}

img {
    display: block;
}

button {
    background-color: white;
    border: none;
    padding: 0;
}

.header {
    outline: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 2rem;
    }

    &__nav{
        display: none;
    }
}

.hero {
    &__image {
        width: 100%;
        margin: 1rem 0;
    }

    &__title {
        font-size: 3rem;
        line-height: 100%;
        font-weight: 800;
    }

    &__button {
        background-color: hsl(5, 85%, 63%);
        color: white;
        font-size: 1rem;
        padding: 1em 2em;
        letter-spacing: .3rem;
    }
}

.news {
    background-color: black;
    color: white;
    padding: 1rem;

    &__title{
        color: hsl(35, 77%, 62%);
    }
}

.top-articles {
    &__article{
       display: flex;

       &__image{
        width: 30%;
       }

       .article__content{
        display: flex;
        flex-direction: column;
        background-color: aqua;
        color:red;
        justify-content: space-between;
       }
    }
}