$Grayish-blue: hsl(233, 8%, 79%); 
$Grayish-blue--dark: hsl(236, 13%, 42%);
$Grayish-blue--very-dark: hsl(240, 100%, 5%);
$Soft-red: hsl(5, 85%, 63%);
$Soft-orange: hsl(35, 77%, 62%);

html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

body {
    margin: 0 auto;
    padding: 15px;
    max-width: 1440px;
}

hr {
    background-color: $Grayish-blue--dark;
    border: none;
}

.darker-background-layer {
    background-color: black;
    height: 100vh;
    left: -100%;;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}    

.darker-background-layer--active {
    left: 0;
    opacity: 50%;
    transition: opacity .4s linear;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem;
    position: relative;

    &__logo {
        height: 2rem;
    }

    &__hamburger-closed {
        position: absolute;
        top: 0;
        right:0;
        margin-top: 21px;
    }

    &__hamburger-open {
        position: absolute;
        top: 0;
        right:0;
        margin-top: 15px;
        margin-right: 4px;
        opacity: 0;
    }

    &__hamburger-open--active {
        opacity: 1;
        z-index: 3;
        transition: 1s;
    }

    &__nav {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1rem;
        position: fixed;
        right: -100%;
        top: 0;
        transition: right .4s;
        width: 70%;
        z-index: 2;

        &--active {
            right: 0;
        }
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 9rem;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
}


.hero {
    &__image {
        width: 100%;
    }

    &__title {
        font-size: 3rem;
        font-weight: 800;
        line-height: 3rem;
        padding: 2rem 0 1rem;
    }

    &__text {
        color: $Grayish-blue--dark;
        line-height: 1.7;
        font-weight: 600;
    }

    &__button {
        background-color: $Soft-red;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .3rem;
        margin: 1.5rem 0;
        padding: 1em 2em;
    }
}

.news {
    background-color: $Grayish-blue--very-dark;
    color: white;
    margin: 2rem 0;
    padding: 2rem 1rem;

    &__section-title{
        color: $Soft-orange;
        font-weight: 700;
        font-size: 2rem;
    }

    &__item {
        margin: 2rem 0;

        &--last{
            margin: 2rem 0 0;
        }

        .news-item__title{
            margin-bottom: 1rem;
            font-weight: 800;
            font-size: 1.2rem;
        }

        .news-item__text{
            color: hsl(233, 8%, 79%);
            line-height: 1.7rem;
        }
    }
}

.article {
    margin: 3rem 0;
    display: flex;
    gap: 5%;
    height: 130px;

    &__image{
        height: 100%;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title-number {
        font-size: 1.8rem;
        color: hsl(233, 8%, 79%);
        font-weight: 800;
    }

    &__title {
        font-weight: 800;
        font-size: 1.1rem;
    }

    &__title:hover {
        color: $Soft-red;
    }

    &__text {
        font-size: 1rem;
        color: $Grayish-blue--dark;
        font-weight: 400;
        line-height: 1.7rem;
    }
}

.footer {
    text-align: center;
}





@media (min-width: 1024px) {
    .header {
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 2rem;

        &__hamburger--closed{
            display: none;
        }

        &__nav{
            position: static;
            
            .nav__list {
                flex-direction: row;
                justify-content: flex-end;

                .header__hamburger--open{
                    display: none;
                }

                .nav__item:hover{
                    color: $Soft-red;
                }
            }
        }
    }

    body {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0 2rem;
    }


    .hero {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      
        gap: 0 2rem;
        


        picture {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .hero__title {
            padding: 0;
            margin-top: 1rem;
            margin-right: 4rem;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .hero__text {
            margin-top: 1rem;
        }

        .hero__text, .hero__button {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &__button:hover{
            background-color: $Grayish-blue--very-dark;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            align-items: flex-start;
        }

        button {
            margin: 0;
            margin-top: 1rem;
        }
    }
    
    .news {
        margin: 0;
        &-item__title:hover {
            color: $Soft-orange
        }
    }



        .articles {
            margin-top: 1rem;
            grid-column-start: 1;
            grid-column-end: 4;
            display: grid;
            gap: 0 2rem;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }



        .article--1 {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .article--2 {
            grid-column-start: 2;
            grid-column-end: 3;
        }

        .article--3 {
            grid-column-start: 3;
            grid-column-end: 4;
        }
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}