$Grayish-blue--dark: hsl(236, 13%, 42%);
$Grayish-blue--very-dark: hsl(240, 100%, 5%);
$Grayish-blue: hsl(233, 8%, 79%); 
$Off-white: hsl(36, 100%, 99%);
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    padding: 15px;
    background-color: $Off-white;
}

hr {
    background-color: $Grayish-blue--dark;
    border: none;
}

.darker-background-layer {
    background-color: black;
    height: 100vh;
    left: -100%;;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;

    &.active{
        left: 0;
        opacity: 50%;
        transition: opacity .4s linear;
    }
}    

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem;
    position: relative;

    &__logo {
        height: 2rem;
    }

    &__hamburger {
        position: absolute;
        right:0;
        top: 0;

        &--closed {
            margin-top: 1.5rem;
        }

        &--open {
            margin: 2rem 1.3rem 0 0;
            opacity: 0;
            position: fixed;
    
            &.active {
                opacity: 1;
                transition: 1s;
                z-index: 3;
            }
        }
    }

    &__nav {
        background-color: $Off-white;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 0;
        transition: right .4s;
        width: 70%;
        z-index: 2;

        &.active {
            right: 0;
        }

        &-list {
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            gap: 2rem;
            padding: 9rem 0 0 1rem;
        }
    }
}

.hero {
    &__image {
        width: 100%;
    }

    &__title {
        font-size: 3rem;
        font-weight: 800;
        line-height: 3rem;
        padding: 2rem 0 1rem;
    }

    &__text {
        color: $Grayish-blue--dark;
        font-weight: 600;
        line-height: 1.7rem;
    }

    &__button {
        background-color: $Soft-red;
        color: $Off-white;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .3em;
        margin: 1.5rem 0;
        padding: 1em 2em;
    }
}

.news {
    background-color: $Grayish-blue--very-dark;
    color: $Off-white;
    margin: 2rem 0;
    padding: 2rem 1rem;

    &__section-title {
        color: $Soft-orange;
        font-size: 2rem;
        font-weight: 700;
    }

    &__item {
        margin: 2rem 0;

        &--last{
            margin: 2rem 0 0;
        }

        &-title {
            font-size: 1.2rem;
            font-weight: 800;
            margin-bottom: 1rem;
        }

        &-text {
            color: hsl(233, 8%, 79%);
            line-height: 1.7rem;
        }
    }
}

.articles__item {
    display: flex;
    gap: 5%;
    height: 130px;
    margin: 3rem 0;

    &-image{
        height: 100%;
    }

    &-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-title-number {
        color: hsl(233, 8%, 79%);
        font-size: 1.8rem;
        font-weight: 800;
    }

    &-title {
        font-size: 1.1rem;
        font-weight: 800;

        &:hover {
            color: $Soft-red;
        }
    }

    &-text {
        color: $Grayish-blue--dark;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7rem;
    }
}

.footer {
    text-align: center;
    
    &__author {
        display: inline-block;
    }
}

@media (min-width: 1024px) {
    body {
        display: grid;
        gap: 0 2rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .header {
        grid-column: 1 / 4;
        padding: 3rem 0;

        &__hamburger--closed, &__hamburger--open {
            display: none;
        }

        &__nav {
            position: static;
            
            &-list {
                flex-direction: row;
                justify-content: flex-end;
                padding: 0;
            }

            &-item:hover {
                color: $Soft-red;
            }
        }
    }

    .hero {
        display: grid;
        gap: 0 2rem;
        grid-column: 1 / 3;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        &__picture{
            grid-column: 1 / 3;
        }

        &__title {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin-right: 4rem;
            margin-top: 1rem;
            padding: 0;
        }

        &__content-wrapper {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: space-between;
        }

        &__text, &__button {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        &__text {
            margin-top: 1rem;
        }

        &__button {
            margin: 0;

            &:hover {
                background-color: $Grayish-blue--very-dark;
            }
        }
    }
    
    .news {
        margin: 0;

        &__item-title:hover {
            color: $Soft-orange;
        }
    }

    .articles {
        display: grid;
        gap: 0 2rem;
        grid-column: 1 / 4;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-top: 1rem;
    }

    .footer {
        grid-column: 1 / 4;    
    }
}