$Grayish-blue: hsl(233, 8%, 79%); 
$Grayish-blue--dark: hsl(236, 13%, 42%);
$Grayish-blue--very-dark: hsl(240, 100%, 5%);
$Soft-red: hsl(5, 85%, 63%);
$Soft-orange: hsl(35, 77%, 62%);


html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

body {
    padding: 15px;
    max-width: 1440px;
}

hr {
    background-color: $Grayish-blue--dark;
    border: none;
}

.darker-background-layer {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: -100%;;
    opacity: 0;
    transition: opacity .4s linear;
}    

.darker-background-layer--active {
    left: 0;
    opacity: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem;

    &__logo {
        height: 2rem;
    }

    &__nav{
        background-color: white;
        display: block;
        height: 100%;
        padding: 1rem;
        position: fixed;
        right: -100%;
        top: 0;
        width: 70%;
        z-index: 2;
        transition: right .4s;
        font-size: 1rem;
        font-weight: 200;

        .nav__list {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .header__hamburger--open{
                align-self: flex-end;
                margin: 1rem .2rem 4rem 0;
            }
        }

        &--active{
            right: 0;
        }
    }
}

.hero {
    &__image {
        width: 100%;
    }

    &__title {
        font-size: 3rem;
        font-weight: 800;
        line-height: 3rem;
        padding: 2rem 0 1rem;
    }

    &__text {
        color: $Grayish-blue--dark;
        line-height: 1.7;
        font-weight: 600;
    }

    &__button {
        background-color: $Soft-red;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .3rem;
        margin: 1.5rem 0;
        padding: 1em 2em;
    }
}

.news {
    background-color: $Grayish-blue--very-dark;
    color: white;
    margin: 2rem 0;
    padding: 2rem 1rem;

    &__section-title{
        color: $Soft-orange;
        font-weight: 700;
        font-size: 2rem;
    }

    &__item {
        margin: 2rem 0;

        &--last{
            margin: 2rem 0 0;
        }

        .news-item__title{
            margin-bottom: 1rem;
            font-weight: 800;
            font-size: 1.2rem;
        }

        .news-item__text{
            color: hsl(233, 8%, 79%);
            line-height: 1.7rem;
        }
    }
}

.article {
    margin: 3rem 0;
    display: flex;
    gap: 5%;
    height: 130px;

    &__image{
        height: 100%;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title-number {
        font-size: 1.8rem;
        color: hsl(233, 8%, 79%);
        font-weight: 800;
    }

    &__title {
        font-weight: 800;
        font-size: 1.1rem;
    }

    &__text {
        font-size: 1rem;
        color: $Grayish-blue--dark;
        font-weight: 400;
        line-height: 1.7rem;
    }
}


@media (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 2rem;

        &__hamburger--closed{
            display: none;
        }


        &__nav{
            background-color: white;
            display: block;
            height: 100%;
            padding: 1rem;
            position: static;
            right: -100%;
            top: 0;
            width: 70%;
            z-index: 2;
            transition: right .4s;
            font-size: 1rem;
            font-weight: 200;

            

            
            .nav__list {
                flex-direction: row;
                justify-content: flex-end;
                gap: 2rem;

                .header__hamburger--open{
                    display: none;
                }

                .nav__item:hover{
                   color: $Soft-red;
                }
            }
        }
    }
}